################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/ParkVision/v17
/.vs/ParkVision/v17/.wsuo
/.vs/ParkVision/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/ParkVision/.vs/ParkVision/v17/.suo
/ParkVision/.vs/ParkVision/v17/DocumentLayout.backup.json
/ParkVision/.vs/ParkVision/v17/DocumentLayout.json
/ParkVision/ParkVision.Server/obj/Debug/net8.0/apphost.exe
/ParkVision/ParkVision.Server/obj/Debug/net8.0/ParkVision.Server.AssemblyInfo.cs
/ParkVision/ParkVision.Server/obj/Debug/net8.0/ParkVision.Server.AssemblyInfoInputs.cache
/ParkVision/ParkVision.Server/obj/Debug/net8.0/ParkVision.Server.assets.cache
/ParkVision/ParkVision.Server/obj/Debug/net8.0/ParkVision.Server.csproj.CoreCompileInputs.cache
/ParkVision/ParkVision.Server/obj/Debug/net8.0/ParkVision.Server.dll
/ParkVision/ParkVision.Server/obj/Debug/net8.0/ParkVision.Server.pdb
/ParkVision/ParkVision.Server/obj/Debug/net8.0/ParkVision.Server.sourcelink.json
/ParkVision/ParkVision.Server/obj/Debug/net8.0/refint/ParkVision.Server.dll
/ParkVision/ParkVision.Server/obj/ParkVision.Server.csproj.nuget.dgspec.json
/ParkVision/ParkVision.Server/obj/ParkVision.Server.csproj.nuget.g.props
/ParkVision/ParkVision.Server/obj/project.assets.json
/ParkVision/ParkVision.Server/obj/project.nuget.cache
/ParkVision/ParkVision.Server/obj/Debug/net8.0/ref/ParkVision.Server.dll
/ParkVision/ParkVision.Server/bin/Debug/net8.0/ParkVision.Server.dll
/ParkVision/ParkVision.Server/bin/Debug/net8.0/ParkVision.Server.exe
/ParkVision/ParkVision.Server/bin/Debug/net8.0/ParkVision.Server.pdb
/ParkVision/parkvision.client/obj/Debug/package.g.props
/ParkVision/parkvision.client/obj/Debug/parkvision.client.esproj.FileListAbsolute.txt
/ParkVision/.vs/ProjectEvaluation/parkvision.metadata.v9.bin
/ParkVision/.vs/ProjectEvaluation/parkvision.projects.v9.bin
/ParkVision/.vs/ProjectEvaluation/parkvision.strings.v9.bin
/ParkVision/.vs/ParkVision/v17/.futdcache.v2
/ParkVision/.vs/ParkVision/FileContentIndex/09c832e2-3589-4843-a54b-6b4422448435.vsidx
/ParkVision/.vs/ParkVision/FileContentIndex/121d7db4-1367-4478-b08b-2681bb59a0cd.vsidx
/ParkVision/.vs/ParkVision/FileContentIndex/b493aa86-351c-482c-b54d-8e57e74c517c.vsidx
/ParkVision/.vs/ParkVision/FileContentIndex/b8ba2263-bd4e-401c-a9c7-405bf4cbde0b.vsidx
/ParkVision/.vs/ParkVision/FileContentIndex/d663d410-1675-49c5-9726-3c33cad127f5.vsidx
/ParkVision/.vs/ParkVision/DesignTimeBuild/.dtbcache.v2
*.vsidx
/ParkVision/ParkVision.Server/bin/Debug/net8.0
/ParkVision/ParkVision.Server/obj/Debug/net8.0/staticwebassets
/ParkVision/ParkVision.Server/obj/Debug/net8.0/ParkVisi.A132B104.Up2Date
/ParkVision/ParkVision.Server/obj/Debug/net8.0/ParkVision.Server.csproj.AssemblyReference.cache
/ParkVision/ParkVision.Server/obj/Debug/net8.0/ParkVision.Server.csproj.FileListAbsolute.txt
/ParkVision/ParkVision.Server/obj/Debug/net8.0/ParkVision.Server.GeneratedMSBuildEditorConfig.editorconfig
/ParkVision/ParkVision.Server/obj/Debug/net8.0/ParkVision.Server.genruntimeconfig.cache
/ParkVision/ParkVision.Server/obj/Debug/net8.0/ParkVision.Server.MvcApplicationPartsAssemblyInfo.cache
/ParkVision/ParkVision.Server/obj/Debug/net8.0/ParkVision.Server.MvcApplicationPartsAssemblyInfo.cs
/ParkVision/ParkVision.Server/obj/Debug/net8.0/spa.proxy.json
/ParkVision/ParkVision.Server/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/ParkVision/ParkVision.Server/obj/Debug/net8.0/staticwebassets.build.json
*.cache
/ParkVision/ParkVision.Server/obj/ParkVision.Server.csproj.nuget.g.targets
/ParkVision/ParkVision.Server/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ParkVision/ParkVision.Server/obj/Release/net8.0/ParkVision.Server.AssemblyInfo.cs
/ParkVision/ParkVision.Server/obj/Release/net8.0/ParkVision.Server.GeneratedMSBuildEditorConfig.editorconfig
/ParkVision/ParkVision.Server/obj/Release/net8.0/ParkVision.Server.GlobalUsings.g.cs
/ParkVision/ParkVisionTests/obj/Debug/net8.0/ParkVisionTests.AssemblyInfo.cs
/ParkVision/ParkVisionTests/obj/ParkVisionTests.csproj.nuget.dgspec.json
/ParkVision/ParkVisionTests/obj/ParkVisionTests.csproj.nuget.g.props
/ParkVision/ParkVisionTests/obj/project.assets.json
/ParkVision/ParkVisionTests/bin/Debug/net8.0
/ParkVision/ParkVisionTests/obj/Debug/net8.0
/ParkVision/.vs/ParkVision/v17/TestStore/0/000.testlog
*.testlog
